.hexagram-content {
  display: flex;
  flex-direction: column;

  .shape {
    flex: 1;
    display: flex;
    flex-direction: column;
    >.line-wrapper,>.line {
      margin-bottom: 4px;
      &:nth-last-child(1) {
        margin: 0;
      }
    }
  }
  .text {
    font-size: 16PX;
    text-align: center;
    //margin-top: 4px;
  }
}